div .bg {
  background-color: rgb(255, 255, 255);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

form .formcss {
  border: 3px solid #f1f1f1;
}

/*navbar*/
.grad-bar {
  width: 100%;
  height: 15px;
  background: #dfc010;
}
